.content {
    width: 87vw;
    height: 89vh;
    background-color: #EFE9D5;
}

.widget {
    background-color: lightblue;
    color: white;
}

.staged {
    background-color: gray;
    color: white;
}

.staging {
    border: 1px solid black;
}

.remove {
    border: 1px solid red;
}

.react-grid-item.react-grid-placeholder {
    background: rgba(0, 0, 0, 0) !important; /* Change or remove */
    outline: none !important; /* Disable red shadow */
    border: none !important;  /* Remove any border */
}