.content {
    width: 87vw;
    height: 89vh;
    background-color: #EFE9D5;
}

.widget {
    background-color: lightblue;
    color: white;
}

.staged {
    background-color: #5b6477;
    color: white;
}

.staging {
    background-color: #c3dbdb;
    border: 1px solid black;
}

/* Removes shadow when dragging widgets */
.react-grid-item.react-grid-placeholder {
    background: rgba(0, 0, 0, 0) !important; 
    outline: none !important; 
    border: none !important;  
}

.dropdown-btn {
    width: 90%;
}