@font-face {
    font-family: Cantata;
    src: url('./assets/fonts/CantataOne-Regular.ttf');
}
@font-face {
    font-family: NotoSans;
    src: url('./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
    font-family: Alatsi;
    src: url('./assets/fonts/Alatsi-Regular.ttf');
}

/* Center element */
.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}