.modal-container {
    position: fixed; /* Ensures it covers the entire screen */
    top: 0;
    left: 0;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    z-index: 1040;
}

.modal-view {
    z-index: 1050;
    color: #2c2c66;
    background-color: white;
    width: 50vw;
    max-width: 50vw;
    pointer-events: auto;
    position: relative;
}

.modal-view input, .modal-view input:focus {
    text-align: center;
    width: 70%;
    border-radius: 0;
    background-color: #8aafdb;
}

.name-input {
    margin-left: 20%;
}

